<header>
  <h1>メモアプリTop画面</h1>
  <section>
    <ul>
      <% @memos.each do |id, memo| %>
        <% title_name = memo['memo_title'] %>
        <li><a href="/memos/<%= id %>"><%== title_name %></a></li>
      <% end %>
    </ul>
  </section>
</header>
