<header>
  <h1>メモアプリNew画面</h1>
</header>
<section>
  <form method="post" action="/memos">
    <div class="form-items">
      <div class="form-container">
        <label>メモタイトル</label>
        <input type="text" name="memo_title" required>

        <label>メモ内容</label>
        <textarea name="memo_text" required></textarea>

        <input type="submit" value="新規作成">
      </div>
    </div>
  </form>
</section>
