<header>
  <h1>メモアプリShow画面</h1>
</header>
<section>
  <h2><%== @memo['memo_title'] %></h2>
  <p style="white-space: pre-wrap;"><%== @memo['memo_text'] %></p>
  <div class="button-container">
    <input type="button" onclick="location.href='/memos/<%= @id %>/edit'" value="Edit画面">
    <form method="post" action="/memos/<%= @id %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="削除">
    </form>
  </div>
</section>
