h1{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

h2{
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
  margin: 5px 0px 5px 20px;
}

p{
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.5;
  margin: 10px 0px 10px 30px;
}

ul{
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 5px 0px 15px 30px;
  list-style-type: disc;
}

nav ul {
  font-size: 1rem;
  list-style: none;
  padding: 0;
}


.button-container {
  display: flex;
  gap: 10px;
  input[type="button"],input[type="submit"] {
    display: block;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 20px 20px 20px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-items{
  margin: 20px 20px 20px 20px;
  
  label {
    width: 104px;
    display: inline-block;
    padding-right: 8px;
  }
  input[type="text"],textarea{
    width: 500px;
    vertical-align: middle;
    border: solid 1px #aaa;
    border-radius: 4px;
  }
  textarea{
    resize: vertical;
  }
  input[type="submit"] {
    display: block;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 20px 20px 170px;
  }
}
